.pointer-tracker ._demo-box {
  height: 400px;
  touch-action: none;
}

.pointer-tracker ._demo-box ._hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--sl-color-gray-3);
  font-size: 2rem;
  pointer-events: none;
  opacity: 0.7;
}

.pointer-tracker ._demo-box ._hint.hidden {
  display: none;
}

.pointer-tracker ._signal-snapshot-grid ._grid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

@media (max-width: 640px) {
  .pointer-tracker ._signal-snapshot-grid ._grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pointer-tracker canvas {
  display: block;
  width: 100%;
  height: 100%;
}
